[2014-11-19 17:17] bertfrees opened #1 "Liblouis table for Finnish"
- [X]  include some official braille code specification document
- [x] write tests based on the specification
- [x] validate the existing braille table for Finnish
- [x] improve the existing table or write a new one from scratch

[2014-11-19 17:33] bertfrees commented on #1
See liblouis/liblouis/pull/28

[2014-12-23 17:47] bertfrees opened #2 "Liblouis table for Danish"
- [x]  include some official braille code specification document (https://github.com/snaekobbi/liblouis/issues/7)
- [ ] write tests based on the specification
- [ ] validate the existing braille table for Danish
- [ ] improve the existing table or write a new one from scratch

[2014-12-23 17:51] bertfrees opened #3 "Liblouis table for Swedish"
- [ ]  include some official braille code specification document
- [ ] write tests based on the specification
- [ ] validate the existing braille table for Swedish
- [ ] improve the existing table or write a new one from scratch

Even if we decide not implement Swedish in Liblouis but instead keep the Dotify implementation the first two items would still be useful for Liblouis.

[2014-12-23 17:51] bertfrees opened #4 "Liblouis table for Norwegian"
- [x]  include some official braille code specification document
- [x] write tests based on the specification
- [x] validate the existing braille table for Norwegian
- [x] improve the existing table or write a new one from scratch
- [x] include in liblouis upstream (merge?)

PR: https://github.com/liblouis/liblouis/pull/144

See also:
- [x] https://github.com/liblouis/liblouis/pull/67

[2014-12-23 17:57] bertfrees opened #5 "Liblouis table for (Swiss) German"
- [ ] include some official braille code specification document
- [ ] improve the existing table from SBS, possibly by applying the new hyphenation-based method described at https://github.com/liblouis/liblouis/pull/11
- [ ] write tests

[2015-02-09 15:24] bertfrees commented on #1
PR: https://github.com/liblouis/liblouis/pull/45

[2015-03-09 12:37] #1 closed, assigned to jukkae

[2015-03-10 19:03] bertfrees commented on #1
Table will be included in the Pipeline as of https://github.com/snaekobbi/pipeline-mod-braille/pull/34

[2015-03-16 15:19] bertfrees opened #6 "Liblouis table for Dutch"
- [x] Include some official braille code specification document
- [x] Write tests based on the specification
- [x] Validate the existing braille table for Dutch. There is currently a table for the Netherlands and a table for Belgium which are slightly different (and should ideally be merged, see https://github.com/liblouis/liblouis/issues/34)
- [x] Improve the existing table or write a new one fro

[2015-04-22 15:26] josteinaj commented on #4
@usama49 has been creating tests for norwegian language based on examples in the norwegian braille documentation, and I've converted it to the liblouis test format here:

https://github.com/josteinaj/liblouis/blob/nlb-norwegian-table-corrections/tests/harness/no_harness.txt

There's still some tests missing. The tests do not succeed yet. We will talk to Lars Bjørndal about the edits we've made to

[2015-04-22 16:12] bertfrees commented on #4
Great job! The tests looks very thorough.

Good idea to coordinate with Lars. Because your changes are backed by the official standard you included, I'm tempted to give you the benefit of the doubt. But still it's good to talk to Lars because it's possible some differences are there because of differences in interpretation of the standard.

Where to test &lt;em&gt; and &lt;strong&gt; depends on wh

[2015-04-22 19:05] josteinaj commented on #4
Interesting. I noticed @jukkae used typeform for some of the finnish tests but I didn't know what it was.

In norwegian braille it's not strictly defined which sign to use for em, strong and underline, so we may want to choose which signs to use based on a pre-processing step. Hopefully we can avoid it by assigning separate signs for em/strong/underline, but I'll have to consult some braille exper

[2015-04-23 08:29] josteinaj commented on #4
I moved stuff out of my own liblouis fork and into this repository today:

https://github.com/snaekobbi/liblouis/tree/nlb-norwegian-table-corrections

https://github.com/snaekobbi/liblouis/tree/formal_braille_spec

[2015-04-23 08:59] bertfrees commented on #4
If you say "...we may want to choose which signs..." do you mean that for different documents the same sign may have a different meaning? Are you suggesting a pre-processing step that's analyses the document and then decides which signs to use for which semantic?

Which signs to use for which type of emphasis could possibly also be specified in CSS somehow, if that would be a requirement.

XFAIL i

[2015-04-23 11:40] josteinaj commented on #4
Yes. Possibly. But hopefully not. I think we can avoid having to do so.

Right, that might work for us.

Ok, I didn't know that.

[2015-04-23 11:46] josteinaj commented on #4
We're close to done for transformation tests. Are there any examples of formatting tests? I expect those will not be part of the liblouis tests?

[2015-04-23 12:31] bertfrees commented on #4
No, formatting tests are not part of the liblouis tests because liblouis is only the translation engine (or, we only use it for translation). Tests for formatting are part of other tasks.

[2015-05-07 17:25] bertfrees commented on #4
I've updated the test file. 66 of 170 tests fail.

[2015-05-08 06:31] egli commented on #4
@bertfrees unfortunatelly for the sucky harness tests we do not have xfail afaik

[2015-05-11 16:57] bertfrees commented on #4
@josteinaj: I have studied the `litdigit` opcode some more and it appears it has some special behavior for backward translation, as I already suspected. When a dot pattern that was defined as litdigit appears inside a number (starting with the numsign), the litdigit rule is used, otherwise it is ignored for back-translation. Also there's something I had overlooked previously, namely that litdigit

[2015-05-12 09:59] josteinaj commented on #4
Interesting. Thanks for looking into this!

[2015-05-18 11:10] bertfrees opened #7 "Danish specifications and guidelines"
Make a page similar to https://github.com/liblouis/liblouis/tree/formal_braille_spec/norwegian.

PR: https://github.com/liblouis/braille-specs/pull/2

Depends on:
- [x] https://github.com/liblouis/liblouis/issues/70

[2015-05-18 18:21] bertfrees commented on #6
@dkager  See branch "dkager_dutch"

[2015-05-19 07:13] dkager commented on #6
Thanks. Should we update nl-BE or do a new set of tests for nl-NL? Would be nice to keep them in sync, or to have just one set of tests because these tables are almost identical.
Also, I think task 1 can be marked as completed: we have the 2005 specification of the Dutch braille code (is it online somewhere?).

[2015-05-19 07:27] bertfrees commented on #6
Try extending nl_BE. If all the tests in there are valid for the Netherlands (Dedicon) rename it to nl. Otherwise make a new test file for nl_NL and we can get them in sync again later.

[2015-05-19 12:19] dkager commented on #6
I've reorganized the tests somewhat and added examples from the official documentation. There still isn't a huge lot of data. I'm not sure what else can be added, these tests cover most of the corner cases.

I still have to actually run these, but one omission I can spot right away is the special braille notation for minutes and seconds, i.e.:
    The world record time is 3' 5''.
Here you don't us

[2015-05-19 12:27] bertfrees commented on #6
These are things that liblouis has difficulty with, because it knows little about the context, except for the actual text you give it (and typeform info). You could make a rule that finds occurrences of the pattern "digit-digit-apos-digit-digit-apos-apos" and translate it in a special way. For such simple heuristics this approach works, but if you need to do advanced text analysis, or if you want

[2015-05-19 12:41] dkager commented on #6
I don't think we get a lot of books where this shows up, so not very high priority just yet.
One more thing that is missing is tests for emphasized text, etc. Will add that and test the whole thing on Thursday.

[2015-05-19 12:42] bertfrees commented on #6
The new data looks very good. It's not a problem if it's not a lot, if it covers everything it covers everything.

I noticed you deleted some tests. In almost all cases you replaced them with an equivalent test but in one or two cases you didn't (e.g. "SLAAT DE VLAM IN DE PAN..."; I know it's kind of the same as "MEER DAN DRIE WOORDEN..." but not completely because the last uppercase word doesn't

[2015-05-19 12:52] dkager commented on #6
Can you also re-add the all-capitals sentence?

I'm not a big fan of the ascii-input because it's redundant and to me (as a braille reader) the symbols don't make much sense. Could you wait with the ascii-input until I've finished the test data? It makes editing somewhat easier for me as I don't know the ASCII code liblouis uses. Also, I noticed that other harness tests (fi_harness.txt) don't have

[2015-05-19 13:01] bertfrees commented on #6
I know, that's why I added the Unicode alongside with the ASCII. The Unicode is used by the test harness, the ASCII is for making it readable for sighted people (documentation purpose). I'll wait until you've finished though, then I only have to run the conversion script once.

[2015-05-21 13:41] bertfrees commented on #4
@usama49 @josteinaj In commit https://github.com/snaekobbi/liblouis/commit/52cfc502e768aada5da09ac3155c930b214ffd86 I've added `xfail` flags to all the failing tests (165 of 324). Now you can go through them one by one, find out why they are failing, and then either fix the table, fix/remove the test, or leave the xfail flag on the test with an explanation if it is reasonable to have those failure

[2015-05-21 13:56] bertfrees commented on #6
@dkager In commit https://github.com/snaekobbi/liblouis/commit/1a925200e97ea3b1337215495c70fa29f3965e8b I've added `xfail` flags to all failing tests.

[2015-05-21 14:22] dkager commented on #6
So we need support for this that is similar to how emphasized text is handled?

I'll look at the Greek capital letters. They are used in maths so it is important that they work.

[2015-05-21 14:57] bertfrees commented on #6
Yes, that support is already implemented by Michael Gray, but his patch isn't merged into master yet. See https://github.com/liblouis/liblouis/issues/50.

I think the nl-NL table does Greek capitals different then the nl-BE table.

[2015-05-21 16:39] dkager commented on #6
Forgot to bring this up re: commit 1a92520. Ignoring unknown keys in the JSON file sounds like a good idea, but I think it has to be an option. Right now if you want to "test the tests" for syntax errors you can do so. If you ignore unknown keys, you can't. So maybe add an option to the harness runner so that we can have both output and ascii-output keys.

[2015-05-21 16:43] bertfrees commented on #6
Okay sounds reasonable. Maybe call it `--strict` (i.e. make "ignore" the default, because we want to be able to automatically run all the tests as they are).

[2015-05-21 17:41] dkager commented on #6
Not entirely sure why it's failing in the first place since no explicit format validation is performed except for checking the input is valid JSON. Something to check next week. :)

[2015-05-21 17:45] bertfrees commented on #6
The validation happens implicitly when constructing a `BrailleTest` instance. The solution was to add `**kwargs` to the constructor (see https://github.com/snaekobbi/liblouis/commit/0ea22d678700baa04c2a5ca6ccdb55a83663e5b9#diff-f1bb1dc1db8387a1553e444ef5b0da82R123)

[2015-05-26 09:57] josteinaj commented on #4
I'm able to run `./runHarness.py no_harness.txt` (I think I had to install a liblouis php binding from the ubuntu repository). @usama49 is using Windows; do you know if it is easy to run the tests there as well?

We can go through the errors and see if we are able to fix them by modifying the table, but I expect we'll have to learn the table format more in-depth than simple character substitutions

[2015-05-26 10:19] dkager commented on #6
The nl-NL table has a few issues that should be easy to fix:
- Greek letters (can probably take those from nl-BE).
- For the percent sign some bogus whitespace is added.
- The ² and ³ symbols need a / added to them.

Furthermore, the emphasis tests are failing. For one of them it looks like expected == received, yet the test fails with a braille difference error. I hope I'm not overlooking somethi

[2015-05-26 11:02] bertfrees commented on #4
You don't have to install the Python bindings if you run the test with `make no_harness.txt`.

I've managed to run the tests on Windows once but it was quite a pain and I think you'd be much better of using a VM with Linux.

The main reason I wanted one of you to work on the table is that you can judge much better whether a test is failing because of the table or because of the test (e.g. a typo),

[2015-05-26 11:16] bertfrees commented on #6
Don't attach too much importance to the emphasis tests. Emphasis in liblouis is currently broken. For that one test that seems to have the correct output, the expected output had some blank braille patterns instead of regular spaces. I've corrected it.

For things that are not in the standard such as those accented letters maybe you could make a separate table? Are Greek letters in the standard by

[2015-05-26 11:22] josteinaj commented on #4
Sure, I understand; perfectly reasonable. We'll go through and try to fix as much as we can ourselves and let you know when we need help.

Since I'm able to run the tests on my laptop we dont need you to send the reports.

`make no_harness.txt` just gives me `make: Nothing to be done for 'no_harness.txt'.`

If I run `./configure` from the top-level `liblouis/`-folder I just get `configure: error:

[2015-05-26 11:49] bertfrees commented on #4
Try `make clean`, and then again `./autogen.sh`, `./configure --enable-ucs4` and `make`. The UCS4 is needed to run the tests. `make no_harness.txt` should work if run from the directory tests/harness in the branch nlb-norwegian-table-corrections.

[2015-05-26 12:00] josteinaj commented on #4
[code]

[2015-05-26 12:03] egli commented on #4
what's your version of autoreconf?

[2015-05-26 12:03] josteinaj commented on #4
[code]

[2015-05-26 12:04] dkager commented on #6
Should we do xfails for those?

The standard describes the first three letters in an example. This matches what nl-NL does, except for the letter beta which was missing dot 1 (will push a fix in a moment). The definitions in nl-NL are the same as in the example, but I'll check if Dedicon is maybe using something else.

It's also not really contracted (.ctb versus .utb).

Also, is the patch for the

[2015-05-26 12:07] egli commented on #4
Hm, that's what I have. So it cannot find the `AC_LIBTOOL_WIN32_DLL` macro, strange. Let me check the docs

[2015-05-26 12:10] egli commented on #4
Ah, do you have `libtool` installed?

[2015-05-26 12:18] bertfrees commented on #6
Should we do xfails for emphasis tests: yes.

The extension should probably be changed to .utb, yes.

The patch which fixes emphasis and adds support for indicating phrases of capitalized words will not be in the June release. We've targeted September.

[2015-05-26 12:23] dkager commented on #6
September is okay, as long as it’s in there before delivering the system. :)

[2015-05-26 12:27] bertfrees commented on #6
It's in the branch https://github.com/MikeGray-APH/liblouis/commits/mrg_ueb_update, in case you already want to try it out.

[2015-05-26 12:30] josteinaj commented on #4
Nope, that seems to have done the trick! :). Got me past `autogen.sh`.

Installing texinfo gets me past `./configure`.

`make` still throws me `make: *** No targets specified and no makefile found.  Stop.` though.

[2015-05-26 12:33] egli commented on #4
so you ran `./autogen.sh` and `./configure` in the top level liblouis dir? And after that you have no Makefile in `liblouis/tests/harness`. That seems odd.

[2015-05-28 07:18] dkager commented on #6
This is pretty much done now. What remains:
- Look at the remaining FIXMEs in `nl-NL-chardefs.cti`.
- Merge the two tables as liblouis#34 describes.

[2015-05-28 09:54] bertfrees commented on #6
About the FIXMEs in nl-NL-chardefs.cti: they refer to the standard "World Braille Usage (3rd edition)": https://cdn.rawgit.com/liblouis/braille-specs/master/world-braille-usage-third-edition.pdf

[2015-05-28 09:59] bertfrees commented on #6
By the way I put those FIXMEs in there. They're mostly about differences between NL and BE that need to be sorted out.

[2015-06-01 17:32] bertfrees opened #8 "Liblouis table for mathematical expressions in Dutch"

[2015-06-01 17:33] bertfrees opened #9 "Liblouis table for Dutch without capsign"

[2015-06-02 12:14] dkager commented on #9
In addition to capsign, the begcaps, endcaps and emphasis signs should also be suppressed.
Ideally what I'd like to do is include nl-NL-g1.ctb and undo the cap/emphasis signs. Can you "unset" opcodes? Or use `pass2` to pick up the capsign dots and remove them? But that sounds dangerous.

[2015-06-02 12:23] bertfrees commented on #9
No you can't unset. Just move all the things you don't want to a separate table, include it in the main table, and don't include it in the alternative table.

[2015-06-02 12:32] dkager commented on #9
This implies that for the stock nl-NL table we'll have to split off caps and emphasis signs into their own file. Is that acceptable? I'm reluctant to split off the entire nl-NL table into a package specific to Dedicon because of the extra maintenance that will cause. IMO standard printing should be done with the standard (stock) table, and only exceptions should be split off into a different packa

[2015-06-02 12:37] bertfrees commented on #9
Sounds acceptable to me. Splitting the table into modules doesn't affect the behavior of the "root" table. I think we can even include this table without capsign in the official liblouis distribution, in addition to the main table. Sounds like something generally useful.

[2015-06-02 12:41] bertfrees commented on #9
Then we'd have 3 new tables: `nl-caps.cti`, `nl-g0-nocaps.utb` and `nl-NL-g0-nocaps.utb`.

[2015-06-02 13:21] dkager commented on #9
Sounds good. So we'll also rename to g0.utb? For 3rd parties using liblouis it's probably best to do all the file renames at once so they don't have to update their products all the time.

[2015-06-02 13:23] bertfrees commented on #9
I have already renamed to g0. See commit https://github.com/snaekobbi/liblouis/commit/c224f06c3b93b6e8f39be0e624dddabd1385d25a.

[2015-06-04 14:50] dkager commented on #6
There are now quite a few tests that are failing (see dkager_dutch_ueb). For next week: find out why, and fix it while not breaking the nocaps table.

[2015-06-05 11:15] dkager commented on #9
I wanted an ordered list of possible solutions to this problem, so here goes:
1. Add two `translationMode`s: `noCaps` and `noEmphasis`, that will cause liblouis to ignore the relevant opcodes. This is probably the least error-prone and most general-purpose if done right.
2. Use the swapping trick as in `da-dk-nocaps.uti`. I don't like this because you have to make sure you include every capital le

[2015-06-05 11:42] bertfrees commented on #9
Thanks for the analysis. Some remarks:
1. -
2. Could you elaborate on what that trick is?
3. A lot of module files isn't necessarily a problem I think. The other thing with the fragileness of `$wl` is a problem of course, but we should treat as a separate issue.
4. -
5. Yes, simple solutions are often the best, and your proposed solution would indeed be easy to implement. If you prefer this I'm OK

[2015-06-08 06:26] dkager commented on #9
1. -
2. That table appears to use `swapcc`, i.e. `ABCDEabcde` and then `correct` those. Semantically this isn't intuitive: you aren't correcting the original text, but you are given some text and choose to represent it in some way.
3. Can you explain why we're only getting 66% success on dkager_dutch_ueb? I haven't looked at which rules these tests apply but I think the failure is due to the order

[2015-06-08 08:27] dkager commented on #9
OK so tests are likely failing due to @mikegray-aph's patches. That having been said, I still really like solution (1) so am going to do at least a casual code review to see how hard this would be to do.

[2015-06-08 09:19] bertfrees commented on #9
I was going to ask you about the configuration granularity. First I thought it was going to be a top-level setting, i.e. either caps everywhere or caps nowhere. In that case the most appropriate solution would have been to add e.g. `(nocaps)` to the "transformer query" (see [Braille modules design document](https://docs.google.com/document/d/1VsNUDPzrIsxsEM31Fb1dOU9NE-rp5tiuEHF1SBz2oMc) for what t

[2015-06-08 09:48] dkager commented on #9
I think `text-transform` (with value `lowercase`) is the right one. This does make solution (5) more appropriate. I'll ask around to find out how much fine-grained control we want/need.

Is this handled in Java or in XML/XSLT? A simple `String.toLowerCase()` would definitely be quicker than a change in liblouis. That having been said, I do see potential value in having the flags as per (1). For in

[2015-06-08 10:14] bertfrees commented on #9
OK, do what you think is the right thing to do. The `text-transform:lowercase` can be handled in either Java or XSLT, but I would prefer Java.

I will take care of updating the Braille CSS spec, I have been preparing to do that anyway. The text-transform property is already largely implemented. See also https://github.com/snaekobbi/braille-css-spec/issues/12 and https://github.com/daisy/pipeline-m

[2015-06-15 06:34] dkager commented on #9
Seems that joining the nocaps tables back together was a good idea as now Mike's patches don't cause issues anymore. I can use that branch for further development, but we'll have to decide if/when this makes its way into liblouis (upstream) and when this will be used for pipeline-mod-braille. I'll spend some time on it today unless something else comes up.

[2015-06-18 07:14] dkager commented on #9
This is now implemented in liblouis-core (aef6204). Can we tick this issue off, or is there more to do?

[2015-06-18 11:20] bertfrees commented on #9
Yes, this is done. Thanks Davy. Will close as soon as I merge the branch.

[2015-06-22 18:41] #9 closed, assigned to dkager

[2015-07-01 09:28] bertfrees commented on #7
See https://github.com/stesk/danishbraille

[2015-07-01 10:03] bertfrees commented on #2
Braille tables exist for "g16", "g26", "g18" and "g28" (@BueVest's naming scheme, e.g. "g16" means "grade 1, 6 dots"). @stesk I understand you are only interested in 6 dots (g16 and g18). Do you also need partial grade 2? There is no table and test data for that yet.

[2015-07-01 10:08] bertfrees commented on #2
For improving the existing table, my hope is that Bue and Nota will be able to work together in the future. Amongst other things this means they should ideally use the same tools. I'm currently trying to integrate Bue's tools into the liblouis project.

[2015-07-01 10:53] stesk commented on #2
@bertfrees Yes, partial grade 2 is essential.

[2015-07-06 07:54] dkager commented on #8
- [x] Liblouis table for Dutch #6
- [ ] Validate existing conversion, removing and updating symbols.
- [ ] Convert symbols list into a liblouis table. Part of this goes into the Dutch table because it is not math-specific.
- [ ] Abstract rules from existing conversion.
- [ ] Add rules for spacing, etc.
- [ ] Move symbols, their substitutions and their descriptions into an XML file for use with pip

[2015-07-07 08:28] dkager commented on #6
The Dutch braille standard 2005 does not specify that the plus sign doesn't cancel a capitalized word. But the Dutch liblouis table does treat it that way. There is a test: `P+R park and ride`

Is there any additional documentation that specifies this or is it an organization-specific choice? Maybe we should discuss this in the process of unifying the Belgium and Netherlands tables.

[2015-07-07 09:50] bertfrees commented on #6
Yes I probably based my implementation on the test that I got, and didn't check the documentation.

[2015-07-30 08:06] dkager commented on #6
- [ ] liblouis/liblouis#116

[2015-07-30 08:35] bertfrees commented on #8
(https://github.com/snaekobbi/sprints/issues/100#issuecomment-126207271)

[2015-08-13 08:55] bertfrees commented on #4
For 8-dot braille, see https://github.com/snaekobbi/sprints/issues/14#issuecomment-130574146:

[2015-08-13 09:10] bertfrees commented on #4
The escape character, when would that occur in documents?

When you say that liblouis fails to translate the no-break space what do you mean? That the space isn't preserved or that the character? I'm currently working on getting the liblouis based translator to respect nbsp and the "white-space" property. The translator will give warnings if a liblouis table does something unexpected such as colla

[2015-08-13 13:27] josteinaj commented on #4
I doubt it ever would, but its defined in our 8-dot standard nevertheless. We've removed the control characters that we weren't able to convert to unicode already so there was more. We can drop the escape character if it's not a very easy fix. It is interesting that it's getting passed straight through the translation though, it doesn't become either a space or an empty string. I guess that's a li

[2015-08-13 13:46] bertfrees commented on #4
Thanks. I think the problem is that some rules are hardcoded in C (in compileTranslationTable.c), which means they are always defined first and can therefore not be overwritten:

[code]

You can however define in a display file how "a" and "1b" are to be represented. So one possible solution to problem 1 would be to include `display \x288F 1b` in no-no-8dot.utb. An alternative is to use a pass2 ru

[2015-08-17 07:39] josteinaj opened #10 "Ordering of the open and closing "tags" in braille"
@usama49 and I discovered a quirk in liblouis the other day in the ordering of open and closing "tags" (begin-/end-letters).

Italic/bold/underline in liblouis table no-no-g0.utb:

[code]

Test harness:

[code]

Running input "a b c" with different typeforms for the "b":

| typeform | description | output braille | output dots | output HTML-ified |
| --- | --- | --- | --- | --- |
| `00000` |  | `⠁

[2015-08-17 08:13] bertfrees commented on #10
Thanks guys for the thorough testing. Typeform is currently broken in liblouis so it doesn't surprise me that some things are not going as expected. It's the reason we're working on getting the changes from APH into the next release (https://github.com/liblouis/liblouis/issues/50). Could somebody please try and rebase the Norwegian table changes onto branch liblouis/ueb_update_code and check if th

[2015-08-17 08:25] bertfrees commented on #10
There seems to be an additional problem with nested typeform where the inner typeform starts at a different letter, such as `The <em>quick <strong>brown</strong> fox</em> jumps...`. The resulting braille closes and opens the elements at the start of the inner typeform like this: `The <em>quick </em><em><strong>brown</em></strong><em> fox</em> jumps...`.

[2015-08-17 09:44] josteinaj commented on #10
The test results are the same as before after rebasing to ueb_update_code.

Here's a test where bold is nested inside italics, but does not start at the same place:

[code]

The results here are also the same after rebasing:

output braille: `⠠⠞⠓⠑ ⠆⠟⠥⠊⠉⠅ ⠰⠠⠄⠆⠃⠗⠕⠺⠝⠠⠄⠰⠆ ⠋⠕⠭⠰ ⠚⠥⠍⠏⠎⠄⠄⠄`
output dots: `6-2345-125-15 23-12345-136-24-14-13 56-6-3-23-12-1235-135-2456-1345-6-3-56-23 124-135-1346-56 245-136-

[2015-08-17 10:05] bertfrees commented on #10
I'm getting different results and they look better at first sight. @josteinaj @usama49 Could you please add the expected output to tests/harness/no_typeform_harness.txt and then run

[code]

[2015-08-31 08:47] dkager commented on #10
Nesting is supposed to work in the ueb_update_code branch. That is, closing tags should be the reversed order of their opening tags.
Starting and/or ending different types of emphasis in the same phrase is a notorious problem. It is not possible to implement generic behavior in liblouis that works for all braille standards. We should try to clearly define the expected behavior and look at adding o

[2015-09-03 09:07] dkager opened #11 "Return error when encountering undefined input character"
This is useful to spot characters that will not be printed correctly so they can be added to a special symbols list (snaekobbi/requirements#38). The behavior should be optional.

Some possibilities for implementation:
- Yet another parameter to `lou_translate`.
- Set this at compile-time.
- Add a function to check the given input for undefined characters.
- Have mod-braille check liblouis' output

[2015-09-03 09:08] bertfrees commented on #11
Thanks Davy. I was thinking about the last option.

[2015-09-03 09:16] dkager commented on #11
Makes sense. Some questions:
- Can we come up with a dot pattern that can be guaranteed not to show up in the actual output?
- Does liblouis allow to compile the `undefined` opcode on-the-fly even if a table already defines it? I think the NVDA devs ran into this problem.

[2015-09-03 09:28] bertfrees commented on #11
No need for a special (real) dot pattern. We just need to set `undefined` to a virtual dot pattern that is unlikely to be used in a table, and map it to some unicode character that is very unlikely to be used.

If you set `undefined` **before** loading another table that already defines it, the first definition should be picked. I haven't tried it but that should work.

[2015-09-03 10:05] egli commented on #11
From a liblouis perspective I think it would be beneficial if liblouis itself would be able to provide warnings for "faulty" tables without the need for another tool such as mod-braille, so I'm not too keen on the last option.

Another thing to consider is that liblouis is used as a library and needs to have a way to gracefully handle missing definitions.

Maybe a separate function that returns a

[2015-09-03 10:20] dkager commented on #11
@bertfrees Awesome. I can have a look at this if you consider the priority high enough. I'm not sure if this relates to a specific requirement but if you want to assign it to a future sprint I'll give it a shot then.

@egli Of course the list of undefined characters depends on the input. But liblouis could log a warning for these (maybe it already does, I haven't checked). If that log is piped int

[2015-09-03 11:29] bertfrees commented on #11
I don't think the liblouis log is too spammy, not if you set the level to WARNING.

[2015-09-03 11:33] dkager commented on #11
So if we ensure this gets logged that would be enough? This would not abort the conversion process but the question is if that is desirable anyway. And we could always check for that in mod-braille as described above.

[2015-09-03 12:06] bertfrees commented on #11
The separate function won't work. Maybe a new bit for the mode parameter could work, although I'm not sure the mode parameter was designed for these things.

Anyway, let's start with supporting this at least in mod-braille, shouldn't be too hard.

[2015-09-03 12:11] dkager commented on #11
When do you want to do this? I’m not too familiar with mod-braille yet but I think this shouldn’t take long to implement.

[2015-09-04 14:52] bertfrees commented on #4
@snaekobbi/nlb I have managed to fall back to the 6-dot definition if a character is not defined in the 8-dot table, but now I get this failure:

[code]

[2015-09-04 15:08] bertfrees commented on #4
@usama49 said:

When liblouis detects an email-address, URL, file path etc, it does not only put dot pattern 126 at the start and 345 at the end, but it also switches to "computer braille mode" within that string. In computer braille mode, numbers are not preceded by the digit sign. Is this undesired behavior?

P.S.: other translation rules such as contraction rules will also not work in these kin

[2015-09-04 17:34] bertfrees commented on #4
@usama49 said:

Pre-processing that would mean that you would mark up the whole number "1 1/2" with e.g. `class="mixed-num"`.

Or I can just match cases like "1 1/2" with a context rule:

[code]

What do you think, would we get any false positive matches with this approach? And would we cover everything with this rule? I doubt this would properly back-translate, but I guess that's not a concern fo

[2015-09-07 07:01] josteinaj commented on #4
@bertfrees I pushed a fix for the "6-dot fallback"-test. However, there's an issue which I don't know whether or not we need to fix (or even can fix); the 6-dot capital letters does not have the `⠠`-prefix. In the 8-dot standard though, `⠠` is used for "[ACUTE ACCENT](http://unicode-table.com/en/00B4/) - `´`".

@KariRudjord: for capital letters not defined in the 8-dot standard; do you think we ne

[2015-09-07 10:29] josteinaj commented on #4
@bertfrees your fix for mixed numbers in the table solves the test; thanks! I don't know if it would give any false positives. I've added the fix in any case.

For e-mails, the examples provided to us for how this should be done indicates that there should be a number sign (`3456`) when a number sequence starts, and a letter sign (typically `56` for lowercase, I don't think we need `6` for upperca

[2015-09-07 11:01] bertfrees commented on #4
So basically, email addresses should translate like other text, except that it should have start and end indicators? Liblouis assumes that if start and end indicators are inserted, the text in between should actually have a different mode (computer braille), otherwise the indicators wouldn't indicate anything.

I suppose we have to implement this outside of liblouis. If we do the same detection th

[2015-09-07 11:08] bertfrees commented on #4
My guess is that you should add dot 7 for capitals, so "Ờ" would become "4-1357".

[2015-09-07 11:09] bertfrees commented on #4
Although dot 4 also means "COMMERCIAL AT".

[2015-09-07 11:51] josteinaj commented on #4
You're right, that seems consistent with the rest of the table. Is it possible to "add a dot 7" with some opcode?

[2015-09-07 12:08] bertfrees commented on #4
No :)

If I remember correctly @BueVest had this idea. In Danish there exists such a things as 8-dot contracted braille, and it would be useful to be able to add dot 7 to contractions as well.

You could also do this by making a `no-no-latinLetterDef8Dots_diacritics.uti` table (brute-force).

[2015-09-07 12:29] josteinaj commented on #4
Yeah, I thought that might be the solution. Not very difficult to make with search'n'replace, it just seems kind of unneccessary.

As you pointed out, dot 4 already means `@`, so to avoid using the dot 4 prefix for diacritics that are not already defined in the 8-dot standard I've tried to understand how the patterns for the diacritic characters in the norwegian 8-dot standard has been chosen, but

[2015-09-07 12:48] bertfrees commented on #4
OK, please ask her. If it's even possible to make sense of the 8-dot standard.

[2015-09-07 13:58] BueVest commented on #4
Hi Bert!

I can still only see your end of the conversation. If there is anything I can do to help, please tell me.

Bue

Fra: Bert Frees [mailto:notifications@github.com]
Sendt: 7. september 2015 14:49
Til: snaekobbi/liblouis
Cc: bue@vester-andersen.dk
Emne: Re: [liblouis] Liblouis table for Norwegian (#4)

OK, please ask her. If it's even possible to make sense of the 8-dot standard.

—
Reply to

[2015-09-08 14:15] bertfrees commented on #4
TODO: maybe add http://www.punktskriftutvalget.no/nyheter/ny-punkttabell-for-jaws to liblouis/braille-specs?

[2015-09-08 14:24] josteinaj commented on #4
We think alike, I've commited it locally to snaekobbi/braille-spec :)

I don't have push access though...

[2015-09-08 15:13] josteinaj commented on #4
Yes. I just got this confirmed from @KariRudjord .

Whatever is easiest. Is this a mod-nlb thing? Should we create an issue for it there?

[2015-09-08 15:25] bertfrees commented on #4
Yes it's a mod-nlb thing. Yes please create an issue, then I'll take care of it when I have time. (Of course you are always free to have a look as well, but I already have a good idea about how to do it, so maybe discuss first with me.)

[2015-09-08 15:34] josteinaj commented on #4
https://github.com/snaekobbi/pipeline-mod-nlb/issues/4

[2015-10-06 07:31] dkager commented on #11
Revisiting my list of possible implementations:

This is my preferred choice. Or use the mode flag as @bertfrees suggested.

Neh.

Because of context rules this basically means performing a translation and seeing if it ran into undefined characters. Not very efficient. An algorithm could be defined for this, but that's probably more work than it's worth.

The problem with this is that you would ha

[2015-11-16 10:55] bertfrees commented on #4
See https://github.com/liblouis/liblouis/pull/140

[2015-12-03 09:52] dkager opened #12 "Number sign is put in the wrong place in certain circumstances"
Convert the attached DTBook (rename to .xml) with the test server, adding no custom CSS/transform options.
The number sign is incorrectly placed before the comma (in BRF):

[code]

[2015-12-03 09:53] dkager commented on #12
[test.txt](https://github.com/snaekobbi/liblouis/files/50647/test.txt)

[code]

[2015-12-03 10:54] bertfrees commented on #12
OK, I think know what went wrong here. Let me try to explain. Because What liblouis sees here is "Amsterdam,1234 AB", without any spacing between the comma and the "1234". The newline that is generated by the `br` element is only inserted after the translation has been done. It's more or less the same problem as in https://github.com/snaekobbi/pipeline-mod-dedicon/issues/2#issuecomment-141064981.

[2015-12-03 11:23] dkager commented on #12
I think the issue with the comma might be a bug in nl-NL-g0.utb (which might in turn warrant keeping `numericmode` around). I will investigate.

[2015-12-03 11:24] dkager commented on #12
Also, adding a space after the <br> seems easy enough in CSS, so that’s a good safety net.

[2015-12-03 18:09] dkager commented on #12
This is an issue in the Dutch table and also occurs in liblouis 2.6.5. Likely something in the handling of the decpoint and midnum opcodes.

[2015-12-04 09:54] bertfrees commented on #4
See email from Jamie on liblouis ML: [Norwegian 8 dot tables](http://www.freelists.org/post/liblouis-liblouisxml/Norwegian-8-dot-tables)

[2015-12-04 10:40] josteinaj commented on #4
@bertfrees I can have a look and split it into three tables in the nlb-norwegian-table-corrections branch of this repo.

[2015-12-04 10:42] bertfrees commented on #4
OK. Not sure about the middle one either.

[2015-12-04 10:45] bertfrees commented on #4
Main thing is that we delete the old one and replace it with a module that the other one can include.

[2015-12-04 11:27] josteinaj commented on #4
Have a look at this one:

https://github.com/snaekobbi/liblouis/commit/4716447154d7cf5e19befc66fe136e34b16afb39

The diff looks long but there's not really many changes. The old 8-dot table were identical to the new one (except two additions to the non-computer-braille list). There's now three tables; 8-dot computer braille, 8-dot braille, and 8-dot braille + fallback. Three tables is probably fin

[2015-12-04 12:03] bertfrees commented on #4
Perfect!

[2016-01-04 20:59] bertfrees commented on #10
@usama49 @josteinaj Is this fixed in the latest version of pipeline-mod-nlb? (which does not use liblouis anymore to handle emphasis)

[2016-01-05 11:31] josteinaj commented on #10
I don't quite remember. We haven't worked on this lately I think.

@usama49 @KariRudjord do you have time to test this?

[2016-01-11 11:00] josteinaj commented on #4
@bertfrees @usama49

It seems the commit with the table cleanup wasn't included in the 2.6.5-release of liblouis, so I created a new branch off liblouis/master with that commit and created a PR for it: https://github.com/liblouis/liblouis/pull/150

[2016-01-11 11:09] bertfrees commented on #4
Yes I think that change must have been after the release. Thanks for the PR.

[2016-07-01 09:59] #3 closed, assigned to joeha480

[2016-07-01 14:12] bertfrees commented on #10
I've rebased the branch `issue-10-norwegian-typeform`: https://github.com/liblouis/liblouis/compare/master...snaekobbi:issue-10-norwegian-typeform. Uses the new test format, and hopefully with the latest additions to liblouis you can now make this work.

[2020-11-16 08:33] KariRudjord commented on #10
I have checked “The quick brown fox jumps” tests that Jostein gave me. They say the devil is in the details, but I found no devils. Everything correct. God work, Bert!